/**
 * skeleton-ui - A lightweight CSS toolkit built on Skeleton
 *
 * Florian Dejonckheere <florian@floriandejonckheere.be>
 *
 * */

@import "variables.less";

@import "base.less";
@import "binary.less";
@import "block.less";
@import "grid.less";
@import "typography.less";
@import "animations.less";
@import "button.less";
@import "spacing.less";
@import "input.less";
@import "utilities.less";

/**
 * Colour
 *
 * */
.badge,
.alert,
.switch input[type="checkbox"] ~ label:before {
  background-color: @primary-color;
  color: white;
}

/**
 * Range
 *
 * */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* You cannot group -webkit and -moz styles, an invalid selector invalidates
 * the entire block of properties */
/* WebKit */
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  background-color: white;
  border: 1px solid @border-color;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: @global-radius;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -6px;
}

input[type="range"]:active::-webkit-slider-thumb {
  border: 1px solid @primary-color;
}

input[type="range"].disabled::-webkit-slider-runnable-track,
input[type="range"][disabled]::-webkit-slider-runnable-track,
input[type="range"].disabled::-webkit-slider-thumb,
input[type="range"][disabled]::-webkit-slider-thumb {
  border-color: @light-grey;
}

/* FireFox */
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  background-color: white;
  border: 1px solid @border-color;
}
input[type="range"]::-moz-range-track {
  height: 5px;
  border-radius: @global-radius;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;

  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -6px;
}

input[type="range"]:active::-moz-range-thumb {
  border: 1px solid @primary-color;
}

input[type="range"]:focus {
  outline: none;
}


input[type="range"].vertical {
  transform: rotate(270deg);
}

input[type="range"].disabled::-moz-range-thumb,
input[type="range"][disabled]::-moz-range-thumb,
input[type="range"].disabled::-moz-range-track,
input[type="range"][disabled]::-moz-range-track {
  border-color: @light-grey;
}

/**
 * Dropdown
 *
 * */
select {
  padding-right: 30px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select::-ms-expand {
    display: none;
}

label.select {
  display: inline;
}

label.select:after {
  color: @dark-grey;
  margin-left: -27.5px;
  content: "\f0d7";
  font-family: 'FontAwesome';
}

/**
 * Badge
 *
 * */
.badge {
  padding: .2rem .4rem;
  margin: .5rem;
  border-radius: @global-radius;

  font-size: 10px;
  font-weight: 800;
}

/**
 * Alert
 *
 * */
.alert {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: @global-radius;
  margin-bottom: 1rem;
  box-sizing: border-box;

  font-weight: 800;
}

.alert [data-toggle="dismiss"] {
  color: white;
}

/**
 * Panel
 *
 * */
.panel {
  padding: 2rem 2rem;
  margin: 0 .2rem;
  border: 1px solid @border-color;
  border-radius: @global-radius;
  background-color: white;
}
